# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# uv / Virtual Environments
.venv/
.env

logs/

.idea/

# Build artifacts
dist/
build/
*.egg-info/

# System files
.DS_Store
Thumbs.db
/secrets/secrets.yaml
/infra/secrets/observability.yaml
